__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
.streamlit/
.idea/
.vscode/
.pytest_cache/
